:root {
  --filter-container-h: 47px;
  --balance-row-h: 145px;
  --menu-height: 56px;
}

@media (max-width: 767px) {
  .filter-off {
    height: calc(100vh - var(--menu-height) - var(--balance-row-h));
  }
  .filter-on {
    height: calc(100vh - var(--menu-height) - var(--balance-row-h) - var(--filter-container-h));
  }
}

@media (min-width: 768px) {
  #feed-container {
    height: calc(100vh - 56px - 1em);
    margin-top: 1em;
  }
}
.apply-filter-btn.btn-primary {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}
.apply-filter-btn.btn-primary:hover {
  color: #9abf35;
  border-color: #fff;
  background-color: #fff;
}
.container {
  border-radius: 3px;
}
.react-datepicker-wrapper {
  width: 100%;
}
.dropdown-toggle.btn-outline-secondary {
  width: 100%;
  border: 1px solid #ced4da;
  text-align: left;
}
.btn-primary {
  background-color: rgba(54,141,142,1)!important;
  border-color: rgba(255,255,255, 0.5)!important;
}
.credit.row {
  color: rgba(54,141,142,1);
}
#balance-container {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  color: #fff;
  background-color: rgba(54,141,142,1);
}

#filter-container {
  padding: 0;
  background-color: none;
}

#feed-container {
  overflow: auto;
  background-color: rgb(255, 255, 255, 0.7);
  padding: 1em;
}

#root {
  height: calc(100% - 56px);
  width: 100%;
  background-color: #eee;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#router-container {
  height: calc(100% - 56px);
  width: 100%;
}

#router-content {
  height: 100%;
}

#main-menu {
  background: rgb(54,141,142);
  background: linear-gradient(52deg, rgba(54,141,142,1) 12%, rgba(9,50,89,1) 71%);
}

#main-menu .nav-link {
  color: #fff;
}

#root {
  width: 100vw;
  height: 100vh;
}
