@media (max-width: 767px) {
  #feed-container {
    height: calc(100vh - 201px);
  }
}

@media (min-width: 768px) {
  #feed-container {
    height: calc(100vh - 56px - 1em);
    margin-top: 1em;
  }
}

.container {
  border-radius: 3px;
}

#balance-container {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  color: #fff;
  background-color: #9abf35;
}

#feed-container {
  overflow: auto;
  background-color: #eee;
  padding: 1em;
}

#router-container {
  height: calc(100% - 56px);
  width: 100%;
}

#router-content {
  height: 100%;
}

#main-menu {
  background: rgb(54,141,142);
  background: linear-gradient(52deg, rgba(54,141,142,1) 12%, rgba(9,50,89,1) 71%);
}

#main-menu .nav-link {
  color: #fff;
}

#root {
  width: 100vw;
  height: 100vh;
}
